/* reset */
body {
  margin: 0;
}

/* base */
body {
  webkit-font-smoothing: antialiased;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

.default {
  color: rgba(0,0,0,0.87);
  background-color: rgb(250,250,250);
}
.raised {
  background-color: #106CC8;
  color: #D9E8F1;
}

/* utilities */
.center {
  text-align: center;
}

/* button */
button, .button {
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  text-align: center;
  text-transform: uppercase;
}

/* header */
.header {
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
  padding: 0 10px;
}

.header .title {
  float: left;
  font-weight: 600;
  font-size: 25px;
}

.header .menu {
  float: right;
}

.header .icon {
  font-size: 25px;
  padding: 5px;
}

.header a:hover {
  color: #fff;
}

/* content */
.content {
  margin-top: 20px;
}