<form novalidate name="mainForm" ng-submit="onSubmit(mainForm)">
  <div ng-form name="childForm{{childForm + $index}}" class="row new-contact" ng-repeat="data in forms track by $index">
    <div class="col">
      <input type="text" placeholder="Name" ng-model="data.name" required ng-blur="checkContact(data)">
    </div>
    <div class="col">
      <input type="text" placeholder="Address" ng-model="data.address" ng-blur="checkContact(data)">
    </div>
    <div class="col">
      <input type="text" placeholder="Phone" ng-model="data.phoneNum" required ng-blur="checkContact(data)">
    </div>
    <div class="col">
      <input type="email" placeholder="Email" ng-model="data.email" ng-blur="checkContact(data)">
    </div>
  </div>
  <button type="submit">Save</button>
</form>
<button ng-click="addChildForm(rowsToAdd)">Add more row</button>
<input type="number" placeholder="rows to add" ng-model="rowsToAdd">
<div file-upload on-import="importExcel"></div>