<div>
  <form novalidate ng-submit="onSubmit(form)" name="form">
    <div>
      <label>Họ tên</label>
      <input type="text" ng-model="data.name" required>
    </div>
    <div>
      <label>Địa chỉ</label>
      <input type="text" ng-model="data.address" required>
    </div>
    <div>
      <label>Số điện thoại</label>
      <input type="text" ng-model="data.phoneNum" required>
    </div>
    <div>
      <label>Email</label>
      <input type="email" ng-model="data.email" required>
    </div>
    <button type="submit">Lưu</button>
  </form>
  <button ng-click="go('home')">Quay lại</button>
</div>